#vida-logo-nav {
    height: 8vmin;
    margin-right: 40px;
    z-index: 1;
    background: transparent;
}

#vida-logo-nav:hover {
    cursor: pointer;
}

#top-bar-nav{
    display: flex;
    align-items: center;
    z-index: 1;
}

#top-bar-nav a {
    margin-right: 40px;
    color: white;
    text-decoration: none;
    z-index: 1;
    background: transparent;
}

#top-bar-nav a:hover {
    color: #b5b5b5;
    transition: 0.2s;
}

#login-join{
    display: flex;
    align-items: center;
}

#login-button {
    margin-right: 5px;
}

#login-join button {
    color: black;
    width: 10vmin;
    height: 3vmin;
    background-color: var(--color-button);
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

#login-join button:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
    transition: 0.2s;
}

hr {
    border-color: gray;
    /*z-index: 1;*/
}