#vida-logo-nav {
    width: 77px;
    height: 77px;
    margin-left: 2rem;
    margin-right: 7.69rem;
    /*flex-shrink: 0;*/
    background: transparent;
}

#vida-logo-nav:hover {
    cursor: pointer;
}

#top-bar-nav{
    display: flex;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    align-items: center;
}

#top-bar-nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top-bar-nav a {
    margin-right: 40px;
    color: white;
    text-decoration: none;
    z-index: 1;
    background: transparent;
}

#top-bar-nav a:hover {
    color: #b5b5b5;
    transition: 0.2s;
}

#section-2 {
    /*margin-left: 20.5rem;*/
    display: flex;
    color: white;
    gap: 1rem;
    width: 35rem
}

#section-3{
    display: flex;
    margin-left: 7.5rem;
    gap: 15px;
}

#section-3 button{
    color: black;
    width: 10vmin;
    height: 3vmin;
    background-color: var(--color-button);
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

#join-button {
    margin-right: 25px;
}

#section-3 button:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
    transition: 0.2s;
}

hr {
    border-color: gray;
}