h1 {
    font-size: 47.78px;
}

h2 {
    font-size: 39.81px;
}

h3 {
    font-size: 33.18px;
}

h4 {
    font-size: 27.65px;
}

h5 {
    font-size: 23.04px;
}

h6 {
    font-size: 19.2px;
}

p {
    font-size: 16px;
}

@media (min-width: 900px) {
    .all-item-tiles-container {
      width: 900px;
    }
}

@media (min-width: 900px) {
    .all-item-tiles-container {
      width: 900px;
    }
}

@media (max-width: 950px) {
    .gvwordmark {
      display: none;
    }
    .gvlettermark {
        align-self: center;
        justify-self: center;
    }
}